{% extends 'runleague/base.html' %}

{% block title %}League{% endblock %}

{% block main_block %}

{% if user.owner.first %}

<h3>{{ league.name }}</h3>

<h4>Teams</h4>
<table border='0'>
<tr><th>#</th><th>Team</th><th>User</th><th></th></tr>
{% for u in league.members.all %}
	{% if u != user %}
	<tr>
	<td>{{forloop.counter0|add:"1"}}</td>
	<td>{{u.team_set.first.name}}</td>
	<td>{{u}}</td>
	<td><a href="{% url 'runleague:league_kick_user' u.id %}">Kick</a>
	</tr>
	{% endif %}
{% endfor %}
</table>

<a href="{{referer}}">Back</a>

{% else %}

<p>You are not in a league right now.</p>
<a href="{% url 'runleague:make_team' %}">Join a league</a>

{% endif %}

{% endblock %}