{% extends 'runleague/base.html' %}

{% block title %}League{% endblock %}

{% block main_block %}

{% if user.members.first %}

<h3>{{ league.name }}</h3>

<h4>Teams</h4>
<table border='0'>
<tr><th>#</th><th>Team</th><th>User</th></tr>
{% for team in league.team_set.all %}
	<tr>
	<td>{{forloop.counter0|add:"1"}}</td>
	<td>{{team.name}}</td>
	<td>{{team.user}}</td>
	</tr>
{% endfor %}
</table>
{% if user.is_authenticated and user.league_set.first == league %}
<p><a href="{% url 'runleague:team_edit' %}">Edit</a></p>
{% endif %}
<a href="{{referer}}">Back</a>

{% else %}

<p>You are not in a league right now.</p>
<a href="{% url 'runleague:make_team' %}">Join a league</a>

{% endif %}

{% endblock %}