{% extends 'runleague/base.html' %}

{% block title %}League{% endblock %}

{% block content %}

{% if user.members.first %}

<h3>{{ league.name }}</h3>
{% if user.owner.first == league %}
<a href="{% url 'runleague:league_edit' %}">Edit league..</a>
{% endif %}
<h4>Teams</h4>
<table border='0'>
<tr><th>#</th><th>Team</th><th>User</th></tr>
{% for u in league.members.all %}
	<tr>
	<td>{{forloop.counter0|add:"1"}}</td>
	<td>{{u.team_set.first.name}}</td>
	<td>{{u}}</td>
	</tr>
{% endfor %}
</table>

</br>
<a onclick="return confirm('Are you sure you want to leave your league?');" href="{% url 'runleague:league_kick_user' user.id %}">Leave league</a>
</br>

<a href="{{referer}}">Back</a>

{% else %}

<p>You are not in a league right now.</p>
<a href="{% url 'runleague:make_team' %}">Join a league</a>

{% endif %}

{% endblock %}