{% extends 'runleague/base.html' %}

{% block title %}League{% endblock %}

{% block main_block %}

{% if user.members.first %}

<h3>{{ league.name }}</h3>

<h4>Teams</h4>
<ul>
{% for team in league.team_set.all %}
	<li><a href="{% url 'runleague:team_detail' team.id %}">{{ team }}</a></li>
{% endfor %}
</ul>
{% if user.is_authenticated and user.league_set.first == league %}
<p><a href="{% url 'runleague:team_edit' %}">Edit</a></p>
{% endif %}
<a href="{{referer}}">Back</a>

{% else %}

<p>You are not in a league right now.</p>
<a href="{% url 'runleague:make_team' %}">Join a league</a>

{% endif %}

{% endblock %}