{% extends 'runleague/base.html' %}

{% block title %}Team{% endblock %}

{% block content %}

{% if user.team_set.first %}

<h3>{{ team.name }}</h3>

<a href="{% url 'runleague:team_edit_name' %}">Edit name</a></br>

<h4>Athletes</h4>
<table border='0'>
<tr><th>#</th><th>School</th><th>Athlete</th><th>Height</th><th>Weight</th><th>Hometown</th><th>High School</th></tr>
{% for athlete in team.athletes.all %}
	<tr>
	<td>{{forloop.counter0|add:"1"}}</td>
	<td>{{athlete.school}}</td>
	<td><a href="{% url 'runleague:athlete_detail' athlete.id %}">{{athlete}}</a></td>
	<td>{{athlete.height}}</td>
	<td>{{athlete.weight}}</td>
	<td>{{athlete.hometown}}</td>
	<td>{{athlete.high_school}}</td>
	</tr>
{% endfor %}
</table>
{% if user.is_authenticated and user.team_set.first == team %}
</br>
<a href="{% url 'runleague:team_add_athlete' %}">Add Players</a></br>
<a href="{% url 'runleague:team_remove_athlete' %}">Remove Players</a></br>
<a href="{% url 'runleague:team_trade_athlete' %}">Trade Players</a></br>
</br>
{% endif %}
<a href="{{referer}}">Back</a>

{% else %}

<p>You do not have a team right now.</p>
<a href="{% url 'runleague:make_team' %}">Join a league</a>

{% endif %}

{% endblock %}