{% extends 'runleague/base.html' %}

{% block title %}Trade{% endblock %}

{% block extra_header %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'runleague/jquery-1.11.13.js' %}"></script>
<script type="text/javascript">
function get_athletes(){
	var xhttp;
	if(window.XMLHttpRequest){
		xhttp = new XMLHttpRequest();
	} else {
		xhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}

	var username = document.getElementById("id_teams").value;
	var url = "/runleague/tradeathlete/get_athletes?teamid=" + escape(username);
	xhttp.open("GET", url, true);
	xhttp.onreadystatechange = function() {
		if(xhttp.readyState == 4 && xhttp.status == 200) {
			var data = JSON.parse(xhttp.responseText);
			select = $('select[id=id_theirathletes]');
			select.find('option').remove();
			for (var k in data) {
				select.append($('<option value="'+data[k]+'">'+data[k]+'</option>'));
			}
		}
	};
	xhttp.send();
}
</script>
{% endblock %}

{% block main_block %}

<h2>{{ team.name }}</h2>

<h3>Trade</h3>

<form action="{% url 'runleague:team_trade_athlete' %}" method="POST">
	{{form.as_p}}
	<input type='submit' value='Trade'>
	{% csrf_token %}
</form>
<a href="{% url 'runleague:my_team_detail' %}">Back</a>

{% endblock %}