body {
        background-color: #800000;
        color: white;
        padding:0px;
}

a {
        color: white;
}

#title {
        font-family: "Arial", serif;
}

#nav-container {
        background-color: #993333;
        margin: 0px;
        border: 0px;
        padding: 0px;
        width: 100%;
        min-width: 1000px;
}

.nav-bar {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        overflow: hidden;
}

.nav-bar li {
        float: left;
}

.nav-bar a:link, .nav-bar a:visited {
        color: white;
        text-decoration: none;
        display: block;
        width: 120px;
        font-size: 20px;
}

.nav-bar a:hover, .nav-bar a:active {
        color: white;
        background-color: #730000;
        text-decoration: none;
        display: block;
        width: 120px;
        font-size: 20px;
}

#top-bar {
        color: #FDF5E6;
        float: right;
}

#top-bar a{
        color: #FDF5E6;
        text-decoration: none;
}