{% extends 'rowing/base.html' %}

{% block extrahead %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'jquery-1.11.13.js' %}"></script>
<script type="text/javascript">
function draft(){
	var xhttp;
	if(window.XMLHttpRequest){
		xhttp = new XMLHttpRequest();
	} else {
		xhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}

	var username = document.getElementById("id_teams").value;
	var url = "/runleague/tradeathlete/get_athletes?teamid=" + escape(username);
	xhttp.open("GET", url, true);
	xhttp.onreadystatechange = function() {
		if(xhttp.readyState == 4 && xhttp.status == 200) {
			var data = JSON.parse(xhttp.responseText);
			select = $('select[id=id_theirathletes]');
			select.find('option').remove();
			for (var k in data) {
				select.append($('<option value="'+data[k]+'">'+data[k]+'</option>'));
			}
		}
	};
	xhttp.send();
}
</script>
{% endblock %}

{% block title %} Draft {% endblock %}
{% block content %}

{% if user.members.first.can_draft %}

<div id="draft-content">
Draft Content
</div>

{% else %}

{% if user.members.all %}

The draft starts on {{user.members.first.draft_start_date}}

{% else %}

<p>You are not in a league right now.</p>
<a href="{% url 'runleague:make_team' %}">Join a league</a>

{% endif %}
{% endif %}

{% endblock %}