{% extends 'draft/base.html' %}

{% block extrahead %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'jquery-1.11.13.js' %}"></script>
<script type="text/javascript" src="{% static 'loadDraft.js' %}"></script>
{% endblock %}

{% block content %}

{% if user.members.first.schedule.can_draft %}

<div id="player-turn">

</div>
<br/>
<div id="draft-content">
Content loading...
</div>

{% else %}

{% if user.members.all %}

Your league is ineligible to draft right now(due to size or date).
<br/>
The draft starts on {{user.members.first.schedule.draft_start_date}}

{% else %}

<p>You are not in a league right now.</p>
<a href="{% url 'runleague:make_team' %}">Join a league</a>

{% endif %}
{% endif %}

{% endblock %}