<!DOCTYPE html>
<html>
<head>
	<style>
	body {background-color:#5DB0BB; color:#C2EAF0}
	</style>
</head>
<body>
	<h2>{{ team.name }}</h2>
	<ul>
		<li>{{ team.user }}</li>
	</ul>
	<h4>Add</h4>
	<ul>
    {% for athlete in not_added %}
        <li>{{athlete}}</li>
    {% endfor %}
	</ul>
	<h4>Remove</h4>
	<ul>
    {% for athlete in team.team_members %}
        <li>{{athlete}}</li>
    {% endfor %}
	</ul>
	<a href="{% url 'viewteam:page' referrent %}">Confirm</a>
	<a href="{% url 'viewteam:page' referrent %}">Cancel</a>
</body>
<html>